@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
@variant sigma (&:where(.sigma, .sigma *));

@theme {
  --color-sigma-bright: #00ffc8;
  --color-sigma-dim: #0d4540;
  --color-sigma-faint: #132a33;
  --color-sigma-dark: #101a20;
}

@font-face {
  font-family: "InterVar";
  src: url("/assets/fonts/Inter-Var.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* Defaults */
body {
  font-family: "InterVar";
}

button {
  @apply cursor-pointer select-none disabled:cursor-default disabled:pointer-events-none outline-none focus:outline-none;
}

