@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "InterVar";
  src: url("/assets/fonts/Inter-Var.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "InterVar";
}